@model PapisPowerPracticeMvc.Models.Auth.Request.LoginUserModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email" class="form-control" placeholder="name@email.com">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
